/* Styles CSS */
body { 
  background-color: #181612;
  background-repeat: no-repeat;
  position: relative; /* Maintient les éléments positionnés en absolu ancrés à leur parent */
}

h1, h2, h3, p, ul, li, b, label {
  color: beige;
}

div {
  margin: 50px; /* Ajoute un espace autour des éléments pour améliorer la lisibilité et éviter un aspect trop compact */
  border-radius: 10px;
}

div.border {
  position: absolute; /* Permet de positionner précisément l'élément dans la mise en page, indépendamment des autres éléments */
  padding: 0;
  width: 200px;
  height: auto;
  border: 15px groove #8F8773;
}

div.box {
  position: absolute;
  padding: 10px;
  border: 15px ridge #8F8773;
}

div.collant {
  position: sticky; /* Permet de garder l'élément visible lorsqu'on fait décendre la page*/
  top: 10px;
  padding: 20px;
  width: 90%;
  background-color: #181612;
  z-index: 1000; /* Maintient l'élément au-dessus des autres */
}

.iframely-responsive, .iframely-embed {
  float: right;
  position: relative;
}

div.table {
  position: relative;
  left: 15px;
  top: 600px;
  text-align: center;
}

div.table tr, div.table th, div.table td {
  color: beige;
}

/* Menu */
ul.menu {
  list-style-type: none; /* Supprime les puces pour un affichage plus propre et structuré du menu */
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 70%;
}

li.menu {
  float: right;
}

li a.menu {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change la couleur du lien quand le curseur y raproche */
li.menu a:hover {
  background-color: #111;
}
