/*css*/

body { 
  background-color: #181612;
  position: relative; //garde les autres avec position absulut ancré
}
  
h1, h2, h3, p, ul, li, b {
  color: beige;
}

div {
  margin: 20px;
  border-radius: 10px;
}

div.border {
  position: absolute;
  padding: 0px;
  width: 200px;
  height:266px;
  border: 15px groove #8F8773;
}

div.box {
  position: absolute;
  height: auto;
  padding:10px;
  border: 15px #8F8773 ridge;
  }

div.collant {
  position: sticky;
  top: 10px;
  padding: 20px;
  background-color: #181612;
  z-index: 1000; /* garde l'élément au dessus tout autre */
}
.iframely-responsive, .iframely-embed  {
  float: right;
  margin-bottom: 300px;
}
div.table {
  position: absolute;
  right: 15px;
  top: 550px;
  text-align: center;
  
  tr, th, td {
    color: beige;
  }
}
ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width:70%;
}

li.menu {
  float: right;
}

li a.menu {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.menu a:hover {
  background-color: #111;
}
}

/*787165
8F8773
312F30
181612
030301
*/
